<% provide(:title, "About") %>
  <h1>About</h1>
    <p>
      This site was built with the help of the <a href="https://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a>.
      It was a great way to gain experience with the MVC model, as well as learn to set up user authentication and interaction with the site, and to practice more employing test-driven development.
    </p>
