<% provide(:title, "Help") %>
  <h1>Help</h1>
    <p>
      If you want to learn to program an app like this, go to the
      <a href="https://www.railstutorial.org/">Rails Tutorial</a>.
    </p>
    <p>
      If you see something I need to fix, <a href="mailto: tiffany@tiffanydenny.com"> contact me! </a>
    </p>
